.venv
services/ml-detector/app/.idea
services/ml-detector/app/.venv
services/parser/.idea
services/parser/app/.idea
services/parser/app/.venv
.DS_Store
.idea/
HAKATHON_GUIDE.md
Shai.pro Case.docx
shai.pro.txt
env.example
.env